@font-face {
    font-family:DoomLeft ;
    src: url(../../../assets/AmazDooMLeft.ttf);
}

@font-face {
    font-family: Hylian;
    src: url(../../../assets/HyliaSerifBeta-Regular.otf);
}

#divcircles{
    background-color: rgba(20, 20, 20, 0.712);
}



#hard{
    font-family: DoomLeft;
    font-size: 5vw;
    margin-left: 10px;
    margin-top: 7px;
    color: darkorange;
    text-align: center;
}

#soft{
    font-family: DoomLeft;
    font-size: 5vw;
    margin-left: 10px;
    margin-top: 1px;
    color: rgb(17, 94, 7);
    text-align: center;
}

.progress{
    height: 3vw;
    padding: 5px;
    font-weight: bold;
    font-size: 1em;
    

}


@media only screen and (max-width: 600px){

    #hard{
        font-size: 12vw;
    }

    #soft{
        font-size: 12vw;
    }

    .progress{
        height: 4em;
        width: 100%;
        padding: 5px;
        font-weight: bold;
        font-size: 1em
        
        
    }

    p{
        font-size: 1em;
      
        color: black;
    }
}