

<!-- HEADER TOOLBAR-->


<app-bsheader></app-bsheader>

<!-- BANNER 

 


-->

<app-banner></app-banner>
<app-textobanner></app-textobanner>





<!--ACERCA DE-->

<app-acercabootstrap></app-acercabootstrap>



<!--EXPERIENCIA-->
<app-expcard></app-expcard>


<!--EDUCACION
-->
<app-educacionrow></app-educacionrow>



<!--HARD AND SOFT SKILLS-->
<app-hardsoftskills></app-hardsoftskills>

<!--Proyectos realizados



-->

<app-proyectos></app-proyectos>
 

<!--FOOTER-->

<app-footer></app-footer>