#bannerimg{
  
    box-shadow:0 0  30px 10px rgb(103, 4, 4);
    width: 50%;
    padding: 0px;
 
   
   
}

#container{
    
}


#bannerdiv{
    background-color: black;
    padding-bottom: 30px;
    justify-content: center;
    
    
}





